@import "../variable/variable.styl"

#top
    margin: 0
    display: block
    position: fixed;
    top: 0;
    height: 100vh;
    bottom: 0;
    left: -200px;
    width: 200px;
    background: white;
    transition: 0.2s ease-out;
    color: black;
    z-index 9998
    // overflow: auto
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
#top::-webkit-scrollbar
    width: 0 !important
#user
    margin: 10px 0 20px;
    display: block;
    width: 200px;
    text-align: center
    text-decoration: none
    font-size: 25px
#user:visited
        color lightgray
#buttons
    display none
#menus,
.submenu
    list-style: none

.submenu
    padding-left: 30px;

.icon_top,
.subicon
    margin: 15px auto

.sublabel,
.menu
    text-decoration: none
    color: gray;
    :hover
        color red

#top .avatar
    display: block
    width 50%
    // margin-left 25%
    margin 40px auto 10px
    margin-bottom: 10px
    // border solid rgb(250, 54, 54) 1px
    border-radius 90px
    border solid lightgray 1px
        
#phoneButton
    display block
    color white
    width: auto
    position: fixed
    top 20px
    left 20px
    z-index: 9999
    transition: 0.2s ease-out;

#burger-toggle {
  appearance: none;
  opacity: 0;

  &:checked {

    // Here don't use box-shadow to make overlay because it will damage performance.
    
    &~.burger-menu {
      .line {
        &:nth-child(1) {
          transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
        }

        &:nth-child(2) {
          transform: scaleX(0);
        }

        &:nth-child(3) {
          transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
        }
      }
    }
    &~#content-outer {
      margin-left: 200px;
    }
    &+.overlay{
        opacity 0.6
    }
  }
}

#burger-toggle {
  appearance: none;
  opacity: 0;
  display none
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(1) {
  transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(2) {
  transform: scaleX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(3) {
  transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
}

.burger-menu {
  --burger-menu-radius: 3em;
  position: relative;
  z-index: 10000;
  display: block;
  width: var(--burger-menu-radius);
  height: var(--burger-menu-radius);
  background: white;
  border: solid 2px rgba(149, 166, 167, 0.4);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.burger-menu .line {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 3px;
  background: rgba(43, 61, 79, 0.3);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.burger-menu .line:nth-child(1) {
  top: 30%;
}
.burger-menu .line:nth-child(2) {
  top: 50%;
}
.burger-menu .line:nth-child(3) {
  top: 70%;
}
.burger-menu .line::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2980b9;
  transform: translateX(-100%);
  transition: all 0.25s ease;
}
.burger-menu .line:nth-child(2)::after {
  transition-delay: 0.1s;
}
.burger-menu .line:nth-child(3)::after {
  transition-delay: 0.2s;
}
.burger-menu:hover {
  box-shadow: 0.4px 0.4px 0.8px rgba(0, 0, 0, 0.042), 1px 1px 2px rgba(0, 0, 0, 0.061), 1.9px 1.9px 3.8px rgba(0, 0, 0, 0.075), 3.4px 3.4px 6.7px rgba(0, 0, 0, 0.089), 6.3px 6.3px 12.5px rgba(0, 0, 0, 0.108), 15px 15px 30px rgba(0, 0, 0, 0.15);
}
.burger-menu:hover .line::after {
  transform: translateX(0);
}


@media (min-width: 1200px)
    #top
        width 100%
        top 0
        left 0
        z-index 9989
        position fixed
        height $header-height
        background-color $header-background
        vertical-align: middle
        display flex
        justify-content: space-between
        opacity 0.98 // 0.98
        filter: alpha($header-background, 98)
    #user
        display flex
        // float left
        color white !important
        text-decoration: none
        font-size: 30px
        margin-left: 30px
        padding: 0 10px
        // margin-right 30px
        font-family $header-user-font
        font-weight: bold
        // margin-top: 15px
        // line-height: $header-height
        align-items: center
        width: auto
        &:hover
            border-radius 10px
            background-color $header-user-hover-background-color
            color $header-user-hover-text-color !important
    #phoneButton,
    #top .avatar
        display none
    #menus
        white-space nowrap
        width auto
        text-align: center
        // margin-left 18%
        font-family: $header-menu-text-font
        display flex
        justify-content: space-between
        align-items: center
        padding-inline-start: 0px
        margin-block-start: 0px
        margin-block-end: 0px
        // margin-top: 15px
        
    .menu-item
        list-style-type none
        // float left
        // margin-right 1%
        position relative
        margin-left: 1vw
        margin-right: 1vw
        // margin-bottom: 6px
        line-height: 20px
        // margin-top: 2.5%
        &:hover .submenu
            display: block
    // .menu-item::before
    //     display none
    // .submenu-item::before
    //     display none
    .menu
        text-align: center
        color $header-menu-item-text-color
        font-size 19px
        text-decoration none    
        display block
        // line-height "calc(%s/2)"%$header-height
        // padding-top: 20px
        // padding-bottom: 18px
        // border-top: 0px
        // line-height 1
        &:hover
            color $header-menu-item-hover-text-color
            // border-bottom: solid
            // border-bottom-color: $header-menu-item-hover-text-color
            // border-bottom-width: 6px
            // padding-bottom: 20px
            ::after
                content ""
                display block
                position absolute
                bottom -25px
                background-color: $header-menu-item-hover-text-color
                width 100%
                height 5px
                // max-width 0
                transition  .25s ease-in-out
    .icon_top,
    .subicon
      margin: 10px auto
    .sublabel
        text-decoration: none
        font-size: 18px
        color $header-menu-subitem-text-color
        line-height: 20px
        &:hover
            color $header-menu-subitem-hover-text-color
    @-webkit-keyframes fadeInUp 
        0%
            opacity:0;
            -webkit-transform:translateY(10px)
        100%
            opacity:1;
            -webkit-transform:translateY(0)
    @-moz-keyframes fadeInUp 
        0%
            opacity:0;
            -moz-transform:translateY(10px)
        100% 
            opacity:1;
            -moz-transform:translateY(0)

    .submenu
        list-style-type none
        display none
        opacity: 1
        position:absolute;
        background:$header-submenu-background-color;
        padding:10px;
        top:40px;
        right:-8px;
        width:auto;
        height: auto
        text-align:left;
        z-index:9999;
        border-radius:8px;
        box-shadow:0 1px 40px -8px rgba(0,0,0,.5);
        -webkit-animation fadeInUp .3s .1s ease both;
        -moz-animation fadeInUp .3s .1s ease both
        &:hover
            display block
    .submenu:before
        content:"";
        position:absolute;
        top:-20px;
        left:50%;
        margin-left:-10px;
        border-width:10px;
        border-style:solid;
        border-color:transparent transparent $header-submenu-background-color transparent
        opacity 1

    #buttons
        display: flex
        justify-content: space-between
        margin-right: 2%
        
    .search
        // float right
        color $header-search-button-text-color
        padding-right 25px
        font-size: 30px
        line-height $header-height
        cursor: pointer
    .search:hover
      color: red;
@media (max-width: 1200px)
    #top
        // position: fixed
        overflow: auto