#top
    margin: 0
    display: block
    position: fixed;
    margin-top: 0;
    height: 100vh;
    bottom: 0;
    margin-left: -0px;
    width: 200px;
    background: white;
    transition: 0.2s ease-out;
    color: black;
    z-index 9998
    overflow: auto
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
#top::-webkit-scrollbar
    width: 0 !important
#user
    margin: 10px 0 20px;
    display: block;
    width: 200px;
    text-align: center
    text-decoration: none
    font-size: 25px
#buttons
    display none
#menus,
.submenu
    list-style: none

.submenu
    padding-left: 30px;

.icon_top,
.subicon
    margin: 15px auto

.sublabel,
.menu
    text-decoration: none

#top .avatar
    display: block
    width 50%
    // margin-left 25%
    margin 40px auto 10px
    margin-bottom: 10px
    // border solid rgb(250, 54, 54) 1px
    border-radius 90px
    border solid lightgray 1px