.highlight pre:before {
    content:" ";
    position:absolute;
    -webkit-border-radius:50%;
    border-radius:50%;
    background:#fc625d;
    width:12px;
    height:12px;
    left:20px;
    margin-top:-27px;
    -webkit-box-shadow:20px 0 #fdbc40,40px 0 #35cd4b;
    box-shadow:20px 0 #fdbc40,40px 0 #35cd4b;
    z-index:2
}
figure table 
    border-collapse:collapse; 
.highlight td
    padding 0px
.highlight {
    position: relative;
    background:#21252b !important;
    border-radius:5px;
    // font:15px/22px "Microsoft YaHei","Arial",Sans-Serif;
    line-height:1.6;
    margin-bottom:1.6em;
    max-width:100%;
    overflow:auto !important;
    text-shadow:none;
    color:#000;
    padding-top:30px;
    box-shadow:0 10px 30px 0 rgba(0,0,0,.4)
}
.highlight .line span::-moz-selection,.line::-moz-selection {
    background:#fff;
    color:#21252b !important
}
.highlight .line span::selection,.line::selection {
    background:#fff;
    color:#21252b !important
}
.highlight pre::-webkit-scrollbar {
    height:10px !important;
    width:10px !important;
    background-color:#1d1f21 !important
}
.highlight pre::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3) !important;
    border-radius:10px !important;
    background-color:#21252b !important
}
.highlight pre::-webkit-scrollbar-thumb {
    border-radius:10px !important;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.5) !important;
    background-color:#21252b !important
}

.highlight pre {
    // width 100%
    background:#1d1f21 !important;
    color:#fff;
    word-break:break-word;
    // font-family:'Source Code Pro',monospace,Helvetica,Tahoma,Arial,STXihei,"STHeiti Light","Microsoft YaHei",sans-serif !important;
    padding:2px;
    margin 0;
    text-shadow:none;
    border-radius:0 0 5px 5px;
    // cursor:url(https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/cursor/texto.cur),auto
    font-family: "consolas" !important;
}
.highlight pre[data-rel]:before {
    color:#fff;
    content:attr(data-rel);
    height:38px;
    line-height:38px;
    background:#21252b !important;
    font-size:16px;
    position:absolute;
    margin-top:-35px;
    left:0;
    width:100%;
    font-family:'Ubuntu',sans-serif;
    font-weight:bold;
    padding:0 80px;
    text-indent:15px;
    text-align:center;
    float:left;
    z-index:1;
    border-radius:5px 5px 0 0;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    pointer-events:none
}
.highlight {
    display:block;
    overflow-x:auto;
    // padding:.5em;
    color: #abb2bf;
    background:rgba(254,250,199,.5);
    border-radius:10px
}
.comment,.quote {
    color:#888f96;
    font-style:italic
}
.doctag,.formula,.keyword {
    color:#c678dd
}
.deletion,.name,.section,.selector-tag,.subst {
    color:#e06c75
}
.literal {
    color:#56b6c2
}
.addition,.attribute,.meta-string,.regexp,.string {
    color:#98c379
}
.built_in,.class .title {
    color:#e6c07b
}
.attr,.number,.selector-attr,.selector-class,.selector-pseudo,.template-variable,.type,.variable {
    color:#d19a66
}
.bullet,.meta,.selector-id,.symbol {
    color:#61aeee
}
.emphasis {
    font-style:italic
}
.strong {
    font-weight:700
}
.ln {
    margin:6px 0 0 0 !important
}
.highlight td.gutter {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    text-align:center;
    color:#888f96 !important;
    background:#1d1f21;
    // font-family:'Source Code Pro',monospace,Helvetica,Tahoma,Arial,STXihei,"STHeiti Light","Microsoft YaHei",sans-serif;
    vertical-align:top;
    // position:absolute;
    left:0;
    width:30px
}
.highlight .code .line {
    // margin-left:25px;
    padding-left:5px
}
.highlight .code .line:hover {
    background-color:rgba(255,255,255,.1)
}
.code-block-fullscreen {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    min-width:100%;
    z-index:9999999;
    margin:0;
    animation:elastic 1s
}
.code-block-fullscreen code {
    --widthA:100%;
    --widthB:calc(var(--widthA) - 30px);
    height:var(--widthB);
    min-height:99%;
    overflow-y:hidden;
    overflow-x:auto;
    height:auto
}
.code-block-fullscreen-html-scroll {
    overflow:hidden
}
.chinese-font {
    font-family:'Merriweather Sans',Helvetica,Tahoma,Arial,'PingFang SC','Hiragino Sans GB','Microsoft Yahei','WenQuanYi Micro Hei',sans-serif
}
.chinese-tranditional-font {
    font-family:Helvetica,Tahoma,Arial,"文泉驛正黑","WenQuanYi Zen Hei","儷黑 Pro","LiHei Pro","微軟正黑體","Microsoft JhengHei","標楷體",DFKai-SB,sans-serif
}
// .japanese-font {
//     font-family:游ゴシック体,'Yu Gothic',YuGothic,'ヒラギノ角ゴシック Pro','Hiragino Kaku Gothic Pro',メイリオ,Meiryo,Osaka,'ＭＳ Ｐゴシック','MS PGothic',sans-serif
// }
.english-serif {
    font-family:'Noto Serif CJK SC','Noto Serif CJK',serif
}
.code-font {
    font-family:'Source Code Pro', monospace !important
}
.Ubuntu-font {
    font-family:'Ubuntu',sans-serif
}
.serif {
    font-family:'Source Han Serif SC','Source Han Serif','source-han-serif-sc','PT Serif','SongTi SC','MicroSoft Yahei',Georgia,serif
}

.highlight table tbody
    border-collapse: collapse
    padding 0px;
.highlight table
    background-color: #1d1f21
.highlight table tr td:last-child
    width: 100%
.highlight table td,
.highlight table th
    border none !important
figure table 
    margin 0 !important;

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.highlight tr
    border-color: red !important;
    padding 2px !important;

.code
    padding 0 !important