@import "../variable/variable.styl"

body
    font-family $layout-post-font
    background-color: $layout-post-background-color
#progress-bar 
    position: fixed;
    top: 0;
    height: 2px;
    // width: 100%;
    // background: linear-gradient(to left, #008aff, #00ffe7);
    background-color: #d31a29;
    z-index: 9998
    // animation: animate 5s linear infinite;

@keyframes animate
    0%, 100%
        filter: hue-rotate(0deg);
    50%
        filter: hue-rotate(360deg);