#postLicense
    font-family: "Consolas" !important
    font-size: 16px; 
    overflow: auto; 
    overflow-scrolling: touch; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 20px !important; 
    padding-right: 10px; 
    margin-bottom: 20px; 
    margin-top: 20px; 
    font-style: normal; 
    border-left: none; 
    padding: 10px; 
    position: relative; 
    line-height: 1.8; 
    border-radius: 10px 10px 10px 10px; 
    color: #555555; 
    background: white; 
    box-shadow: #84A1A8 0px 10px 15px;
#postLicense a
    color: darkgray;
#postLicense::before
    content: "👣"
    color: #FFF
    line-height: 1em;
    font-weight: 700;
    font-size: 30px
#postLicense::after
    content: "”"
    float: right; 
    display: inline; 
    color: black; 
    font-size: 3em; 
    line-height: 1em; 
    font-weight: 500;
    font-family: Heveltica

.postTitle,
.author,
.releaseTime,
.lastUpdateTime,
.originURL,
.License
    margin-left: 30px;