$theme-color = rgb(20, 20, 20)
$time-color = #737373
// #sidemenu 
//     display: none
//     // background-color: black
//     &:checked 
//         & + aside 
//             right: 0
        
//         & ~ #button 
//             padding-right: 320px

aside 
    position: absolute
    top: 0
    bottom: 0
    right: -300px
    width: 300px
    background-color: black
    transition: 0.2s ease-out
    z-index 50

#overlay
    margin-top: 0
    // color: white
    // text-align: center
    // font-size: 2em
    height: 180px
    // background-color: #4d4d4d
    background-color: black
    margin-bottom: 0
    // opacity: 0.7
    // z-index: 60
    // float right

/*控制侧边栏进出的按钮（外部包裹）*/
#button 
//     margin-right: 20px
//     padding: 10px
    transition: 0.2s ease-out

#side-content
    background-color:  #fff
    // line-height: 400
    margin-top: 0
    height 760px
    // line-height: 20px
.menu
    color black
    text-decoration: none
    line-height: 45px
    font-size: 25px
    // width 100%
    &:hover
        color red

#avatar
    width: 128px
    height: 128px
    margin-top -64px
    z-index 999
    // float: center 
    margin-left: 86px
    border-radius: 50%
    border: solid 1px rgb(200, 200, 200)

#menu-item
    margin-top: 80px
    text-align: center
    // line-height: 20px