@import "../variable/variable.styl"
    
.pagination
    background-color: $pagination-post-back-ground-color
    clear both
    margin: auto
    font-size: 20px
    // position: center
    color: $text-color
    text-align: center
    width: 100%
    // height 800px
    line-height: 200px
    text-decoration: none

.prev-next
    display flex
    align-items: center
    justify-content: space-between
    background-color: white
    margin-top: 30px;
    // margin-left: 14%
    // margin-right 28.5%

.pull-left
    float left
    font-size: 20px
    line-height: 90px
    text-decoration: none
    color $pagination-post-extend-text-color
    &:hover
        color $pagination-post-hover-extend-text-color

.pull-right
    float right
    line-height: 90px
    text-decoration: none
    clear both
    color $pagination-post-extend-text-color
    font-size: 20px
    &:hover
        color $pagination-post-hover-extend-text-color
        