@import "../variable/variable.styl"
@media (max-width 1000px)
    :root
        font-size 1em
#home-cover
    width calc(98.8vw)
    height 90vh
    background: url(https://s1.ax1x.com/2020/04/17/JV919e.jpg) center center
    // background-attachment: fixed
    background-size: 100%;
    background-repeat:no-repeat;
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
#moto
    width: 70%
    display: block
    // position: absolute
    margin: auto;
    top: 0
    bottom: 0
#signature-date
    font-size: 30px;
    margin-bottom: 20px
    // padding-top 18%
    color $recent-post-title-date-text-color
    // margin-left 15%
#cover-title
    color $recent-post-title-text-color
    font-size: 40px;
    font-weight: bold
    line-height: 50px
#from
    text-align: right
    color $recent-post-title-from-color
    font-size: 40px
    margin-top: 20px
#chevron-down
    color $recent-post-title-chevron-down-color
    font-size: 40px
    position: absolute
    bottom: 20px
    left 50%
    @media(max-width 1500px) {
        display none
    }
.recent-post-item
    float left
    height $recent-post-boxes-height
    color  $recent-post-boxes-text-color
    // font-family $fonts
    flex: 1 0 $recent-post-item-Min-Width
    margin: 0 0 1.875rem 
    display: inline-block
    min-height: 285px
    transition: all 0.3s
    position: relative
    z-index: 1
    font-family: $recent-post-boxed-text-font
    @media(min-width: 37.5rem)
        margin: 0 $recent-post-item-margin 15px
    // Note 1: This complex calc right here is what makes the leftover box items
    // have the same width than their siblings.
    for $n in 2..$recent-post-max-item-per-row 
        $resolution = "calc((2 * %s) + (%s * %s))"%($recent-post-row-margin $n $recent-post-item-Min-Width)
        @media(min-width: $resolution)
            max-width: "calc(%s/%s - %s*2)"%(100% $n $recent-post-item-margin)
    // Note 2: This sets the maximum number of box items per row.
    @media(min-width: "calc(2 * %s + %s * $s)"%($recent-post-row-margin $recent-post-max-item-per-row $recent-post-item-Min-Width))
        flex: 1 0 "calc(100%/%s - %s*2)"%($recent-post-max-item-per-row $recent-post-item-margin)
    // text-decoration: none
    &:hover
        z-index: 2;
        transform: scale(1.1);
        img 
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            transform: scale(1.05);
.category
    background-color opacity 0
    display  block
    // font-family  monospace sans-serif
    height 2.25rem
    line-height  2.25rem
    text-transform  uppercase
    font-weight  bold
    font-size 1rem
    padding  0 0.9375rem
    color $recent-post-article-category-text-color

// .box-cover
//     // width  100%
//     height 17vmin
.cover
    width  100%
    height auto
    // height  'calc(%s / 4)'%@width
    margin  0 auto
    transition  all 0.2s ease-in-out
    // &:hover
    //     -webkit-filter: grayscale(100%);

.content-tags
    background-color $recent-post-article-content-tag-background-color
    padding  .9375rem

.time
    // font-family: "Bradley hand ITC"
    color $recent-post-article-time-text-color
    pointer-events  none
    // font-weight: bold
    font-size: 1rem
    line-height: 2em

.recent-post-tag
    height: 22px
    line-height: 26px
    color: $recent-post-article-tag-text-color
    font-family: $recent-post-article-tag-text-font
    padding: 0 10px 5px
    border: 1px solid $recent-post-article-tag-text-color
    border-radius: 15px
    display: inline-block
    margin: 0 10px 10px 0
    z-index: 50
    text-align: center
    text-decoration: none
    &:hover
        background-color: $recent-post-article-hover-tag-text-background-color
        color $recent-post-article-hover-tag-text-color


.post_title
    // font-family: ink free
    margin  10px 0
    font-size  24px
    color  $recent-post-article-title-text-color
    line-height  30px
    font-weight  bold
    text-decoration: none

a.content
    // font-family: "ink free", "微软雅黑"
    margin: 0 0 30px
    color: $recent-post-article-content-text-color
    font-family: $recent-post-article-content-text-font
    font-size: 17px !important
    line-height: 26px
    text-decoration: none
    text-overflow: ellipsis

a.content, a
    color $recent-post-article-content-text-color

