.facebook {
    fill: #3b5998;
    background-color: white;
}
.facebook:hover {
    fill: white !important;
    background-color: #3b5998;
    
}
.facebook:hover > .pathfacebook {
    fill: #3b5998;
    background-color: white;
}

.twitter {
    fill: #1da1f2;
    background-color: white;
}
.twitter:hover {
    fill: white !important;
    background-color: #1da1f2;
    
}
.twitter:hover > .pathtwitter {
    fill: #1da1f2;
    background-color: white;
}

.qq {
    fill: #7bd4ef;
    background-color: white;
}
.qq:hover {
    fill: white !important;
    background-color: #7bd4ef;
    
}
.qq:hover > .pathqq {
    fill: #7bd4ef;
    background-color: white;
}

.wechat {
    fill: #62b900;
    background-color: white;
}
.wechat:hover {
    fill: white !important;
    background-color: #62b900;
    
}
.wechat:hover > .pathwechat {
    fill: #62b900;
    background-color: white;
}

.weibo {
    fill: #d32024;
    background-color: white;
}
.weibo:hover {
    fill: white !important;
    background-color: #d32024;
    
}
.weibo:hover > .pathweibo {
    fill: #d32024;
    background-color: white;
}

.qqzone {
    fill: #ffcd00;
    background-color: white;
}
.qqzone:hover {
    fill: white !important;
    background-color: #ffcd00;
    
}
.qqzone:hover > .pathqqzone {
    fill: #ffcd00;
    background-color: white;
}