@import "../variable/variable.styl"

#sidebar-toc
    background-color: $toc-background
    margin-top: 45px
    position relative
    -webkit-box-shadow: 1px 0 5px rgba(0,0,0,.4);
    box-shadow: 1px 0 5px rgba(0,0,0,.4);
    padding-top 10px
    padding-bottom: 10px
    width 100%
    min-height 200px
    // @media(max-width 1300px)
    //     display none
    // @media(max-width 1600px)
    //     margin-right 10%
#catalog
    border-left: 4px solid $toc-catelog-border-left-color
    font-size: 20px
    padding-left: 16px
.toc
    // display flex
    list-style-type none
    text-align: left
.toc:nth-of-type(1)
    line-height: 25px
    text-decoration: none
    margin-left: 20px
    padding-left: 20px
    border-left solid $toc-first-child-border-left-color 1px
.toc:nth-of-type(1)::before
    position absolute
    background-color :$toc-current-level-before-background
    border solid 3px $toc-current-level-before-border
    border-radius 20px
    left 11px
    // top 200px
    margin-top: 3px
    content ""
    width 13px
    height 13px
// .toc-level-2
//     line-height: 25px
// .toc-level-3
//     line-height: 25px
// .toc-level-4
//     line-height: 25px
// .toc-level-5
//     line-height: 25px
// .toc-level-6
//     line-height: px
.toc-link
    text-decoration: none
    color $toc-text-color

// .li::before
//     display none
// .ol::before
//     display none
// .toc-level-1::before
//     display none
// .toc-level-3::before
//     display none
// .toc-level-2::before
//     display none
// .toc-level-5::before
//     display none
// .toc-level-4::before
//     display none
// .toc-level-6::before
//     display none
.toc-child
    list-style-type none
    padding-left: 20px
// .toc-level-1
//     list-style-type none