@import "../themes/variable.styl"

#bottom-inner
    max-width: 750px
    clear both
    margin: auto
    color: $sInfoTp
    font-weight: 5px
    margin-top: 50px
    border-top: 0.09px solid #323232 
    border-top-width: 0.1px
    padding: 20px 25px
    text-align:  center

.icon
    display: inline-block
    float left
    margin-right: 15px
    margin-top 15px
    font-size: 32px
    color: #808080
    &:hover
        color: $minorColor
#author
    clear both
    // color: $sInfoBg
    padding-top: 140px
    font-size 18px
    line-height: 30px
    // font-family $footer-author-text-font

#theme_author
    text-decoration: none
    color $sInfoBg
    font-weight: bold
#theme_name
    font-weight: bold
    text-decoration: none
    // color $sInfoBg
    line-height: 30px

.visits
    // color $sInfoBg
    // font-family: $fonts
    clear both
    padding-bottom: 20px

#theme_name svg
    fill: lightgray
    height: 20px 
    width: auto
    &:hover
        fill: $sInfoBg
        .yellow
            fill: rgb(250, 190, 0)
        .blue
            fill: rgb(76, 172, 226)
        .pink
            fill: rgb(238, 134, 154)