@import "../themes/variable.styl"
@import "search.styl"


$sideW = 80vw
#menu-outer a
    text-decoration: none;
    color: $headerCt
body.post > #menu-outer a
    color: $headerPostCt

// out container of navigation bar
#menu-outer
    position fixed;
    top: 0px;
    width: calc(100vw - 40px);
    display flex;
    height: 75px;
    background-color: $headerBg;
    padding: 0 20px 
    align-items: center
    color: $headerCt
    justify-content space-between
    transition: 0.3s
    z-index: 10
    border: solid lightgray 0px;
    .name-a
        &:hover
            color: $headerHv

body.post > #menu-outer
    -webkit-box-shadow: 1px 0 5px rgb(175 175 175);
    box-shadow: 1px 0 5px rgb(175 175 175);
    color: $headerPostCt
    background-color: $headerPostBg
body.home > #menu-outer
    background-color: transparent
    
#menu-outer.sticky
    background-color: transparent;
.newMenuOuter
    left: $sideW;
.newMenuOuterColor
    background-color: $headerBg !important;
body.post > .newMenuOuterColor
    background-color: $headerPostBg !important
/*********** left nav icon  ***********/
.menu .menu-icon
    width: 30px;
    height: 75px
    position relative
.menu .menu-icon li
    width: 30px;
    height: 3px;
    background-color: $headerCt
    position absolute
    transition: 0.5s
    // reset origin point of transform
    transform-origin: left center
body.post > #menu-outer .menu .menu-icon li
    background-color: $minorColor
.menu .menu-icon li:nth-child(1)
    top: 26px;
.menu .menu-icon li:nth-child(2)
    top: 36.5px;
    transition: 0.1s
.menu .menu-icon li:nth-child(3)
    bottom: 26px;
// new icons (cross icon)
.newFirstLine
    width: 29px;
    transform: rotateZ(44deg);
.newSecondLine
    visibility hidden;
.newThirdLine
    width: 29px;
    transform: rotateZ(-44deg);
/********** nav items ***************/
.menu #nav
    position fixed;
    top: 0px
    background-color: $headerBg
    left: "calc(%s - %s)"%(0vw $sideW);
    width: $sideW;
    bottom: 0
    padding-top: 20px
    overflow-y: scroll
    overflow-x: hidden;
    transition: 0.3s
    padding: 35px 0px
body.post > #menu-outer .menu #nav
    background-color: $headerPostBg
    // border-right: solid 1px lightgray
.menu-avatar
    border-radius: 1000px;
    width: 40%;
    border: 1px solid gray;
    margin: 10px 30% 20px;
.menu #nav li,
.menu #nav .search
    width: 65%;
    margin: 0 auto


.menu #nav li a
    line-height: 45px
    font-size: 18px

body.post #menu-outer .menu #nav li a 
    font-size: 16px

// new nav
.newNav
    left: 0 !important;
/****** author ***********/
.site-name
    font-size: 24px;
    order: 2
    img
        display: block
        height: 25px;
        width: auto;

/************* search function **************/
#menu-outer .search
    order: 3;
    border: none;
    display block
    border-radius: 20px;
    padding: 5px 5px 5px 10px;
    position relative
#menu-outer .search #local-search-input
    background: transparent
    border: none
    color: $headerCt
    outline: none
    transition: 0.4s;
    width: 0
    // float: left
    padding: 0
body.post #menu-outer .search #local-search-input
    color: $headerPostCt
.search-icon 
    color: $headerCt;
    float: right;
    font-size: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
body.post > #menu-outer .search-icon 
    color: $headerHv

#menu-outer .search:hover #local-search-input,
#menu-outer .search:active #local-search-input,
#menu-outer .search #local-search-input:focus
    width: 120px;
    padding: 0 6px;

.search:hover > .search 
    width: 180px;

.search:hover > .search-icon
    background: none;
    color: $headerHv;
    font-size: 16px;

.search:hover,
.search:has(#local-search-input:focus)
    border: solid $headerHv 1.5px !important;
    font-size: 20px;
    .search-icon
        font-size: 16px
    .local-search-result-cls
        &:has(.search-result-list),
        &:has(.local-search-empty)
            display: block


/************ for other media **************/
@media only screen 
    @media (min-width: 800px)
        .newMenuOuter
            left: 400px;
        .menu #nav
            left: -400px;
            width: 400px;
    @media (min-width: 1000px)
        /******** avatar not display on pc *************/
        .menu-avatar
            display: none
        .menu-icon
            display: none;

        /********** nav on pc **********/
        .menu #nav
            width: auto
            transition: 0s
            position static;
            overflow hidden
            background: transparent
            padding: 0
            .menu-items
                display flex
                .item-name
                    // margin: 0 8px !important;
                    padding: 0 20px
                    width: auto
                    position: relative
                    line-height: 75px
                    user-select: none
                    &:hover
                        .name-a
                            color: $headerHv

        /*************** order ***********/
        .site-name
            order: 1
        .menu
            order: 2

        /******** submenu style *******/
        .menu #nav
            overflow: visible
        .menu #nav .menu-items .item-name:hover > .submenu-items
            display block;
        .submenu-items
            display none;
            position: absolute
            top: 66px;
            left: 0
            background-color: $headerSubBg;
            padding: 5px 15px;
            border-radius: 10px;
            -webkit-animation fadeInUp .3s .1s ease both;
            -moz-animation fadeInUp .3s .1s ease both
            z-index: 2   
            .subitem-name
                width 100% !important
                padding: 10px 0 !important
                // white-space: nowrap
                word-break: break-all
                display: block
                margin: 0 !important
                line-height: 20px !important
                a
                    line-height 25px !important
                &:hover a
                    color: $headerHv !important

        body.post > #menu-outer .submenu-items
            background-color: $headerPostBg
            border: solid lightgray 1px
            -webkit-box-shadow: 1px 0 5px rgb(175 175 175);
            box-shadow: 1px 0 5px rgb(175 175 175);

        .submenu-items::before
            content: ""
            position absolute
            width: 0
            height: 0
            border: 15px solid transparent
            border-bottom-color: $headerSubBg
            left: 0
            right: 0
            top: -28px
            margin: auto
            z-index 100
        body.post > #menu-outer .submenu-items::before
            border-bottom-color: $headerPostBg
            z-index: 0
        body.post > #menu-outer .submenu-items::after
            content: ""
            position absolute
            width: 0
            height: 0
            border: 15px solid transparent
            border-bottom-color: lightgray
            left: 0
            right: 0
            top: -29px
            margin: auto
            z-index -10
            transform-style: preserve-3d;
            transform:translateZ(-10px);
                        

        @-webkit-keyframes fadeInUp 
            0%
                opacity:0;
                -webkit-transform:translateY(10px)
            100%
                opacity:1;
                -webkit-transform:translateY(0)
        @-moz-keyframes fadeInUp 
            0%
                opacity:0;
                -moz-transform:translateY(10px)
            100% 
                opacity:1;
                -moz-transform:translateY(0)
        
        /********* menu underline style ************/
        .menu #nav .menu-items .item-name 
            .name-a
                position relative
                &:after
                    content: ""
                    border: 0 solid $headerHv;
                    position absolute
                    bottom: -27px
                    left:0 
                    width: 0%;
                    margin: auto
                    transition: width 0.5s;
                    height 7px
                    // background-color $headerHv
                    // width: 100%
            &:hover 
                color: $headerHv;  
                .name-a::after
                    // border: 4px solid $headerHv !important
                    background-color $headerHv
                    width: 100%
                    z-index 1 
        body.post > #menu-outer .menu-items .item-name .name-a::after
            bottom -28px

        


