$top-color = convert(hexo-config("SideButtons.Top.color")) || #e37a90
$comment-color = convert(hexo-config("SideButtons.Comment.color")) || #33a6dc

#sideButtons
    position: fixed;
    right -3px;
    bottom 45px;
    writing-mode: vertical-lr
    text-orientation sideways
    transform rotate(-180deg)
    display flex
    justify-content center
    #go-to-comment
    #back-to-top
        position: relative
        padding: 15px 10px 15px 12px
        margin: 5px 0 5px -4px
        font-size: 18px
        color: white
        user-select: none
        left 0
        transition: left 0.2s;
        &:hover
            left: 4px
        i ~ span
            margin-top: 6px
    #back-to-top
        background-color: $comment-color; // rgb(113, 210, 242)// rgb(170, 217, 277)//#4e9400
    #go-to-comment
        display none
        background-color: $top-color;  //pink
 
#vcomment ~ #sideButtons >#go-to-comment
    display: inline-block


@media only screen
    @media (max-width: 900px)
        #go-to-comment
            display: none