@import "../themes/variable.styl"

.side-user
    border-top: 2px $minorColor solid
    -webkit-box-shadow 1px 0 5px rgba(100,100,100,.4)
    box-shadow 1px 0 5px rgba(100,100,100,.4) //rgba(0,0,0,.4)
    margin-bottom: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;

.side-user .top-bar
    display flex
    justify-content: space-evenly
    padding: 10px 0
    border-bottom: solid $sInfoBg 1px
    color: $sInfoTp
#author-info
    position relative
.qrButton
    position absolute
    right: 0
    top: 0
    width: 70px;
    length: 70px;
    z-index 2
    path
        fill: $minorColor
.avatar
    width 50%
    margin: 25px 25% 15px;
    border-radius 90px
    background-color: $sInfoBg

#author-description
    margin-left: 8%
    margin-right 8%
    color $sInfoTx
    line-height: 25px
    font-size: 15px
    padding-bottom: 20px

#side-author
    color $sInfoTp
    font-size: 25px
    text-align: center
    padding-bottom: 20px

#payment-code
    width: 100%
    background-color: white //rgba(0,0,0,0.8)
    color: white
    float: left
    display none;
.qr-description
    color gray
    font-size: 20px
    line-height: 30px
    margin-top: 30px
    text-align: center
.pay-code
    margin-top: 10px
    margin-bottom: 20px
    width: 150px
    margin-left: 25%

.payButtons
    display flex
    justify-content: space-around
    margin: 0 25px 25px
    button
        border-radius:6px
        color $minorColor;
        border solid 1px $minorColor
        cursor pointer
        padding: 5px 10px;
        font-size: 15px
        background-color transparent
        padding: 5px 12px
    button.selected
        background-color: $minorColor
        color: white ;

.clearfix::after
    /* add content */
    content: "";
    /* change into a block element */
    display: block;
    /* clear float on both side */
    clear: both;