@import "../themes/variable.styl"

$type = hexo-config("archiveStyle.type") || "center"
// $color = hexo-config("archiveStyle.type") || #aa2611
if $type == "center"
  $maxW1 = 768px
  $maxW2 = 992px
else if $type == "split"
  $maxW1 = 768px;
.archive
  width: 82%;
  margin: 100px auto 0
  color: white;
  line-height: 22px;
  font-size: 16px
.timeline 
  width: 100%
.timeline-item
  border-left: 3px solid pink
  padding: 0 0 0 20px
  flex-direction: column
  display flex
  position: relative
  width: 100%;
.period
    text-align: center;
    font-size: 30px;
    padding: 40px 0
    color: pink;

.timeline-item .timeline-info
  line-height: 25px
  margin-bottom: 20px
.timeline-item .timeline-content .post-content p
  word-break: break-word
.timeline-item .timeline-content .post-content h3 a
  font-size: 22px;
  color: pink
  text-decoration: none
.timeline-item:nth-of-type(2n) .timeline-info .post-time:after,
.timeline-item:nth-of-type(2n+1) .timeline-info .post-time:after
  content: " ";
  width: 13px
  height: 13px;
  background-color pink;
  border: pink solid 4px;
  position: absolute
  left -11.5px;
  border-radius: 20px;
@media(min-width $maxW1)
  .archive
    width: 82%;
  .period
    text-align: left;
    margin-left: 30%;  
  .timeline-item
    border-left: none
    flex-direction: row
  .timeline-item .timeline-info
    float: right;
    text-align: right;
    width: 27%;
    vertical-align: top
    position relative
    margin: 0
  .timeline-item .timeline-content .post-content h3 a
    font-size: 25px;
    color: white
  .timeline-item .timeline-content 
    text-align: left;
    float: left;
    width: 70%;
    position relative
    padding: 20px 0;  
  .timeline-item .timeline-content .post-content
    text-decoration: none;
    color: white;
    background-color pink;
    border-radius: 20px;
  .timeline-item .timeline-content .post-content h3
    font-size: 25px;

  .timeline-item:nth-of-type(2n) .timeline-info,
  .timeline-item:nth-of-type(2n+1) .timeline-info
    border-right: pink solid 1.5px
    padding-right: 50px;
    
  .timeline-item:nth-of-type(2n) .timeline-content,
  .timeline-item:nth-of-type(2n+1) .timeline-content
    border-left: pink solid 1.5px 
    padding-left: 50px;

  .timeline-item .timeline-content .post-content
    padding: 20px;
  .timeline-item .timeline-info
    padding-top: 40px;

  .timeline-item:nth-of-type(2n) .timeline-info .post-time:after,
  .timeline-item:nth-of-type(2n+1) .timeline-info .post-time:after
    content: " ";
    width: 13px
    height: 13px;
    background-color pink;
    border: pink solid 4px;
    position: absolute
    right -11.5px;
    left: auto
    border-radius: 20px;

  .timeline-item:nth-of-type(2n) .timeline-content:before,
  .timeline-item:nth-of-type(2n+1) .timeline-content:after
    content: " ";
    width: 0px;
    height: 0px;
    left -20px;
    top: 21px;
    position: absolute
    border-width: 30px 45px; 
    border-color: transparent  pink transparent transparent
    border-style: solid
@media(min-width $maxW2)
  .archive
    width: 67%;
  .period
    text-align: center;
    margin: auto;
  .timeline-item
    border-left: none
    padding: 0
  .timeline-item .timeline-info
    float: right;
    text-align: right;
    width: 50%;
    vertical-align: top
    position relative
  .timeline-item .timeline-content 
    text-align: left;
    float: left;
    width: 50%;
    position relative
    padding: 0

  .timeline-item:nth-of-type(2n) .timeline-info
    order: 2
    text-align: left;
    border-left: pink solid 1.5px
    padding-left: 50px;
    border-right: none;
    padding-right: 0  
  .timeline-item:nth-of-type(2n) .timeline-content
    text-align: right ;
    border-right: pink solid 1.5px
    padding-right: 50px;
    border-left: none;
    padding-left: 0;

  .timeline-item .timeline-content .post-content
    padding: 20px;

  .timeline-item:nth-of-type(2n) .timeline-info .post-time:before
    content: " ";
    width: 13px
    height: 13px;
    background-color pink;
    border: pink solid 4px;
    position: absolute
    left -11.5px;
    border-radius: 20px;

  .timeline-item:nth-of-type(2n) .timeline-info .post-time:after
    content: none !important
  .timeline-item:nth-of-type(2n) .timeline-content:before
    content: " ";
    width: 0px;
    height: 0px;
    right -20px;
    left: auto
    top: 21px;
    position: absolute
    border-width: 30px 45px; 
    border-color: transparent transparent transparent pink
    border-style: solid
