/* 这个动画规则我们就叫做message-move-in-center吧，随后我们会用animation属性在某个元素上应用这个动画规则。 */
@keyframes message-move-in-center {
    0% {
        /* 前边分析过了，弹出动画是一个自上而下的淡入过程 */
        /* 所以在动画初始状态要把元素的不透明度设置为0，在动画结束的时候再把不透明度设置1，这样就会实现一个淡入动画 */
        opacity: 0;
        /* 那么“自上而下”这个动画可以用“transform”变换属性结合他的“translateY”上下平移函数来完成 */
        /* translateY(-100%)表示动画初始状态，元素在实际位置上面“自身一个高度”的位置。 */
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        /* 平移到自身位置 */
        transform: translateY(0);
    }
}

@keyframes message-move-out-center {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes message-move-in-right {
    0% {
        // opacity: 0;
        transform: translateX(100%);
    }
    100% {
        // opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes message-move-out-right {
    0% {
        // opacity: 1;
        transform: translateX(0%);
    }
    100% {
        // opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes message-move-in-left {
    0% {
        // opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        // opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes message-move-out-left {
    0% {
        // opacity: 1;
        transform: translateX(0%);
    }
    100% {
        // opacity: 0;
        transform: translateX(-100%);
    }
}