pre
    color: gray
    ::selection
        background-color: lightgray
.comment,.quote {
    color: lightgray;
    font-style:italic
}
.doctag,.formula,.keyword {
    color:#B4009E
}
.deletion,.name,.section,.selector-tag,.subst {
    color:#ea6a74
}
.literal {
    color:#3A96DD
}
.addition,.attribute,.meta-string,.regexp,.string {
    color:#98C379
}
.built_in,.class .title {
    color:rgb(229, 159, 39)
}
.attr,.number,.selector-attr,.selector-class,.selector-pseudo,.template-variable,.type,.variable {
    color: rgb(229, 159, 39)
}
.bullet,.meta,.selector-id,.symbol {
    color:#61aeee
}
.emphasis {
    font-style:italic
}
.strong {
    font-weight:700
}
.ln {
    margin:6px 0 0 0 !important
}

.chinese-font {
    font-family:'Merriweather Sans',Helvetica,Tahoma,Arial,'PingFang SC','Hiragino Sans GB','Microsoft Yahei','WenQuanYi Micro Hei',sans-serif
}
.chinese-tranditional-font {
    font-family:Helvetica,Tahoma,Arial,"文泉驛正黑","WenQuanYi Zen Hei","儷黑 Pro","LiHei Pro","微軟正黑體","Microsoft JhengHei","標楷體",DFKai-SB,sans-serif
}
// .japanese-font {
//     font-family:游ゴシック体,'Yu Gothic',YuGothic,'ヒラギノ角ゴシック Pro','Hiragino Kaku Gothic Pro',メイリオ,Meiryo,Osaka,'ＭＳ Ｐゴシック','MS PGothic',sans-serif
// }
.english-serif {
    font-family:'Noto Serif CJK SC','Noto Serif CJK',serif
}
.code-font {
    font-family:'Source Code Pro', monospace !important
}
.Ubuntu-font {
    font-family:'Ubuntu',sans-serif
}
.serif {
    font-family:'Source Han Serif SC','Source Han Serif','source-han-serif-sc','PT Serif','SongTi SC','MicroSoft Yahei',Georgia,serif
}


// figure {
    // display: block;
    // margin-block-start: 1em;
    // margin-block-end: 1em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
// }

// .highlight tr
//     border-color: red !important;
//     padding 2px !important;

// .code
//     padding 0 !important