div(class="container archive-calendar")
    div(class="card")
        div(id="post-calendar" class="card-content")
        
style(type="text/css").
    #post-calendar {
        width: 900px;
        height: 225px;
        margin: 20px auto 0;
        border-radius: 12px;
    }

script(type="text/javascript" src="https://cdn.jsdelivr.net/gh/cungudafa/cdn/js/echarts.min.js")
script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/moment@2.27.0/moment.min.js")

-
    let startDate = moment().subtract(1, 'years');
    let endDate = moment();
    //- let rangeArr = '["' + startDate.format('YYYY-MM-DD') + '", "' + endDate.format('YYYY-MM-DD') + '"]';
    let rangeArr = "['" + startDate.format('YYYY-MM-DD') + "', '" + endDate.format('YYYY-MM-DD') + "']";

    // post and count map.
    let dateMap = new Map();
    site.posts.each(function (post) {
        let date = post.date.format('YYYY-MM-DD');
        let count = dateMap.get(date);
        dateMap.set(date, count == null || count == undefined ? 1 : count + 1);
    });

    // loop the data for the current year, generating the number of post per day
    let i = 0;
    let datePosts = '[';
    let dayTime = 3600 * 24 * 1000;
    for (let time = startDate; time <= endDate; time += dayTime) {
        let date = moment(time).format('YYYY-MM-DD');
        //- datePosts = (i === 0 ? datePosts + '["' : datePosts + ', ["') + date + '", ' +
        //-     (dateMap.has(date) ? dateMap.get(date) : 0) + ']';
        datePosts = (i === 0 ? datePosts + "['" : datePosts + ", ['") + date + "', " +
            (dateMap.has(date) ? dateMap.get(date) : 0) + ']';
        i++;
    }
    datePosts += ']';

script(type="text/javascript").
    let myChart = echarts.init(document.getElementById('post-calendar'));
    let option = {
        title: {
            top: 0,
            text: 'Post Calendar',
            left: 'center',
            textStyle: {
                color: 'gray'
            }
        },
        tooltip: {
            padding: 10,
            backgroundColor: '#555',
            borderColor: '#777',
            borderWidth: 1,
            formatter: function(obj) {
                let value = obj.value;
                return '<div style="font-size: 14px;">' + value[0] + '：' + value[1] + '</div>';
            }
        },
        visualMap: {
            show: true,
            showLabel: true,
            categories: [0, 1, 2, 3, 4, 5],
            calculable: true,
            inRange: {
                symbol: 'rect',
                color: ['#ebedf0', '#c6e48b', '#7bc96f', '#239a3b', '#196127', '#104113']
            },
            itemWidth: 14,
            itemHeight: 14,
            orient: 'horizontal',
            left: 'center',
            bottom: 0,  
            textStyle: {
                color: 'gray'
            }
        },
        calendar: [{
            left: 'center',
            range: #{rangeArr},
            cellSize: [14, 14],
            splitLine: {
                show: false
            },
            itemStyle: {
                width: '1.88679%',
                height: '15px',
                color: '#EEEEEE',
                borderColor: '#FFF',
                borderWidth: 2
            },
            yearLabel: {
                show: false
            },
            monthLabel: {
                nameMap: 'en',
                fontWeight: 'lighter',
                fontSize: 12,  
                textStyle: {
                    color: 'gray'
                }
            },
            dayLabel: {
                show: true,
                formatter: '{start}  1st',
                fontWeight: 'lighter',
                nameMap: ['Sunday', ' ', ' ', 'Wednesday', ' ', ' ', 'Saturday', ],
                fontSize: 12,  
                textStyle: {
                    color: 'gray'
                }
            }
        }],
        series: [{
            type: 'heatmap',
            coordinateSystem: 'calendar',
            calendarIndex: 0,
            data: #{datePosts}
        }]
    };
    myChart.setOption(option);
