extends includes/layout.pug

block content
  div#tag
    h1= 'Tag: ' + page.tag
    #category
      - var categoriesList = list_categories({ show_count: false })
      - var tagsList = list_tags({ show_count: false })
      #categories
        h1 Categories
        if categoriesList
          != list_categories({show_count: false, style: span, depth: 1})
        else
          p None.
      br
      #tags
        h1 Tags
        if tagsList
          != tagsList
        else
          p None.
      br
  include includes/pagination.pug
