.aboutMeAvatar
    text-align: center
    width 20%
    border solid grey 2px
    margin 0 auto
    border-radius: 150px
    // background-color: lightgrey
.github-contribution
    margin 20px 0 60px 0;
    text-align: center
    width 100%
.aboutMePage
    color white
    width 60%
    margin 100px auto 0
.seff-introduction-formal
    text-indent: 2em
    line-height: 30px;
.aboutMePage .location,
.aboutMePage .myProjects,
.aboutMePage .myAbilities
    line-height: 30px
    list-style-type none
.aboutWords,
.projectWords,
.abilityWords
    margin-left: 20px
.myAbilities
    margin-bottom: 50px