.github-contribution
    margin 20px 0 60px 0;
    text-align: center
    width 100%
.aboutMePage
    color white
    width 60%
    margin 100px auto 0
.seff-introduction-formal
    text-indent: 2em
    line-height: 30px;
.aboutMePage .location,
.aboutMePage .myProjects
    line-height: 30px
    list-style-type none
.aboutWords,
.projectWords
    margin-left: 20px