@import "variable/variable.styl"

.archive
    margin-top:100px   
.archive-list
    width 67%
    color white
    font-weight: bold
    margin: 0 auto
    @media(max-width 900px)
        margin-left 2%
        width 99%
.First-title-of-archives
    color white
    text-align: center
.archive-list tr td:first-child
    padding-top: 20px
    text-align: right
    vertical-align: top
    padding-right 50px
    width 50%
.archive-list td:last-child
    padding-top: 20px
    text-align: left
    vertical-align: top 
    // border-left solid #d31a29 3px
    padding-left 50px
    width 50%
    .article-t-c::before
        content:"";
        position: absolute;
        margin-left: -46px
        margin-top: 10px;
        width: 0;
        height: 30;
        border-top: 20px solid transparent;
        border-right: 30px solid $comment-color;
        border-bottom: 20px solid transparent;
    .timeline-time::before
        content:"";
        position: absolute;
        margin-left: -110px
        margin-top: -10px
        width: 0;
        height: 30;
        border-top: 20px solid transparent;
        border-left: 30px solid $comment-color;
        border-bottom: 20px solid transparent;
.archive-list td:last-child::before
    position absolute
    background-color :$comment-color
    border solid 4px $comment-color
    border-radius 20px
    margin-top 40px
    margin-left: -62px
    content ""
    width 13px
    height 13px
.archive-list th
    text-align: center
.archive-list
    border-collapse: collapse;
.article-time
    color white
    font-size: 17px
.timeline-time
    padding-top: 40px
.article-time:nth-child(2n)
    border-left solid $comment-color 3px
    
.article-time:nth-child(2n-1)
    border-right solid $comment-color 3px
.article-title
    text-decoration: none
    color white
    font-size: 25px
    font-weight: bold
.article-content
    text-decoration: none
    color white
    img
        display none
    a
        color black
.article-t-c
    padding 20px
    border solid $comment-color 2px
    border-radius: 20px
    background-color: $comment-color
td.article-year
    color $comment-color // rgb(170, 38, 17)
    clear both
    text-align: center !important
    font-size: 30px
    padding: 40px 0
    margin-bottom: 30px
    font-weight: bold
.article-year::before
    display none
