@import "variable/variable.styl"
    
.archive-list
    width 67%
    color white
    margin: 0 auto
    @media(max-width 900px)
        margin-left 2%
        width 99%
.First-title-of-archives
    color white
    margin-top:100px
    text-align: center
.archive-list tr td:first-child
    padding-top: 20px
    text-align: right
    vertical-align: top
    padding-right 30px
    width 50%
.archive-list tr td:last-child
    padding-top: 20px
    text-align: left
    vertical-align: top 
    border-left solid #d31a29 3px
    padding-left 30px
    width 50%
.archive-list tr td:last-child::before
    position absolute
    background-color :black
    border solid 4px #d31a29
    border-radius 20px
    margin-left: -42px
    content ""
    width 13px
    height 13px
.archive-list
    border-collapse: collapse;
td.article-year
    color #d31a29
    clear both
    text-align: center !important
    font-size: 30px
    padding-top: 40px;
    padding: 40px 0 40px !important
    // margin-bottom: 30px
    font-weight: bold
    border-left: none !important
.article-year::before
    display none
.article-time
    color #d31a29
    font-size: 17px
.article-title
    text-decoration: none
    color white
    font-size: 25px
    font-weight: bold
.article-content
    text-decoration: none
    color white
    img
        display none
    a
        color black
    td
        border: none !important;
    td::before
        display none;
