@import "variable/variable.styl"

.category-article-title
    color $category-article-title-text-color
    line-height 60px
    text-decoration: none
    font-size: 25px
    width 50%
.tagOfa
    // display inline-block
    list-style-position: inside
    text-decoration: none
    color white
    border $category-article-tag-bg-bd-color solid 2px
    background-color: $category-article-tag-bg-bd-color
    margin-right 30px
    padding-left: 6px
    padding-left 10px
    padding-right: 10px
    border-radius: 7px
    font-size 18px
    vertical-align: center
    line-height: 30px
.tagOfa::before
    content:"";
    position: absolute;
    margin-left: -27px
    margin-top: 1px;
    width: 0;
    height: 18;
    border-top: 14px solid transparent;
    border-right: 19px solid $category-article-tag-bg-bd-color;
    border-bottom: 13px solid transparent;
    z-index: -1
.tags::before
    content:"";
    position: absolute;
    margin-left: -0px
    margin-top: 11px
    width 5px
    height 5px
    border 1px solid $category-article-tag-before-border
    border-radius: 30px
    background-color: $category-article-tag-before-bg
.category-time
    float right
    line-height: 60px
.category-time-content
    padding-left: 15px

.category-item
    border-bottom: solid 1px $category-item-border-bottom-color
    // width 60%
.category-item:last-child
    border-bottom: none
.category-tag-icon
    // color #d31a29
    margin-right: 30px