
body
  // margin-left 15px
  // margin-right 15px
  margin 0 0 0 0
  background-color: rgb(20, 20, 20)
*::selection
  background-color: rgb(20, 20, 20)
  color white
.article #veditor
  background: url("/img/bg4.png") no-repeat right top 
  background-size: 120px
  background-position: 98% 5px
.vat
  border solid red 1px
  border-radius: 10px
  padding 0px 10px
.vat:hover
    background-color: red
    color white !important
.novel+.v
  width: 80%;
  margin: 50px auto;
