@import "themes/variable.styl"

$scroll-bar-style = hexo-config("ScrollBar.style") || "bicolor"
@import 'includes/scroll-bar/' + $scroll-bar-style + '.styl'

html 
    overflow-x: hidden
body
  margin 0
  overflow-x: hidden
  background-color: $bg


#content-outer
    margin-top: 75px
