
body
  // margin-left 15px
  // margin-right 15px
  margin 0 0 0 0
  background-color: rgb(20, 20, 20)
*::selection
  background-color: rgb(20, 20, 20)
  color white
#veditor
  background: url("https://s1.ax1x.com/2020/04/21/J3NKRe.png") no-repeat right top 
  background-size: 85px
  background-position: 98% 5px
.vat
  border solid red 1px
  border-radius: 10px
  padding 0px 10px
.vat:hover
    background-color: red
    color white !important