.links
    color white;
    width: 55%
    margin 100px auto 0
.rules
    counter-reset: li
    list-style none
    // list-style: decimal
    display: block;
    line-height: 30px
.rules li::before
    height 20px
    width 20px
    content: counter(li)
    counter-increment: li
    font-size: 0.875em
    text-align: center
    color white
    white-space: nowrap
    position: absolute; 
    margin-left: -2.5em; 
    line-height: 1.4em;
    // top: 2px; 
    // border solid #d31a29 1px
    margin-top: 0.4em;
    background: #d31a29
    border-radius: 40px;
.mylink li::before
    content ""
    color white
    font-weight: 20px
    position: absolute; 
    margin-left: -2em; 
    line-height: 2em;
    // top: 2px; 
    margin-top: 0.4em;
    background: black
    border-radius: 30px;
    // padding-right 5px
    // padding-left: 5px
    border solid 3.5px #d31a29
    height 10px
    width 10px
.mylink li
    font-size: 16px
    line-height: 30px
    list-style-type: none
.group-items
    padding 0;
    margin-bottom: 50px
.item-friend
    list-style-type none;
    display inline-block
    margin 0px 1% 2% 1%
    border-radius: 10px;
    background-color: black
    color white
    border lightgrey solid 2px
    width: 30.5%
.links .site-preview
    text-align: center
    width: 70px;
    float: left;
    border-radius:40px;
    margin 15px;
    border solid lightgrey 2px

.links .link-title
    border-bottom: solid 1px rgb(50,50,50)
    padding-bottom: 20px
    font-size: 30px
.links .group-description
    margin 30px 1%
.links .site-name
    margin: 20px 10px 10px 110px
    font-weight: bold
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
.links .site-description
    margin-left 110px
    margin-right: 7%
    padding 10px;
    padding-left: 0
    border-top: dashed rgb(100,100,100) 1px
    font-weight: bold
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
.clearfix::after
    content: "";
    display: block;
    clear: both;
.clearfix::before
    content: "";
    display: block;
    clear: both;
.links a
    color white;
    text-decoration: none
#vcomment
    clear both
