@import "themes/variable.styl"
#content-outer
    width: 100%;
.links
    color white;
    width: 80%;
    margin 100px auto 0
    @media(min-width 1200px)
        width 85%
    @media(min-width 920px)
        width 65%
    
.links h2
    font-size: 1.8em;

.links h3
    font-size: 1.2em;

.group-items
    padding 0;
    margin-bottom: 50px
    width: 100%;
.item-friend
    // float left
    list-style-type none;
    display inline-block
    margin: 10px auto
    width: 100%
    flex: 1 0 18.75em
    margin: 0 0 1.875rem 
    border-radius: 10px;
    background-color: black
    color white
    border lightgrey solid 2px
    @media(min-width: 37.5rem)
        margin: 0 0.9375em 15px
    for $n in 2..3 
        $resolution = "calc((2 * %s) + (%s * %s))"%(0.625em $n 18.75em)
        @media(min-width: $resolution)
            max-width: "calc(%s/%s - %s*2)"%(100% $n 1.5em)
    // Note 2: This sets the maximum number of box items per row.
    @media(min-width: "calc(2 * %s + %s * $s)"%(0.625em 3 18.75em))
        flex: 1 0 "calc(100%/%s - %s*2)"%(3 0.9375em)
.links .site-preview
    text-align: center
    width: 70px;
    float: left;
    border-radius:80px;
    margin 15px;
    border solid lightgrey 2px
    transform-origin: center
    transition: 0.5s
.links .site-preview:hover
    transform: rotate(360deg)


.links .link-title
    border-bottom: solid 1px rgb(50,50,50)
    padding-bottom: 20px
    font-size: 30px
    line-height: 30px
.links .group-description
    margin 30px 1%
.links .site-name
    margin: 20px 10px 10px 110px
    font-weight: bold
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.2em;
    line-height: 24px;
        
.links .site-description
    margin-left 110px
    margin-right: 7%
    padding 10px;
    padding-left: 0
    border-top: dashed rgb(100,100,100) 1px
    font-weight: bold
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

.clearfix::after
    content: "";
    display: block;
    clear: both;
.clearfix::before
    content: "";
    display: block;
    clear: both;
.links a
    color white;
    text-decoration: none
#vcomment
    clear both
