.links
    color white;
    width: 55%
    margin 100px auto 0
.links ul
    padding 0;
    margin-bottom: 50px
.links li
    list-style-type none;
    display inline-block
    margin 0px 1% 2% 1%
    // -moz-box-shadow:7px 7px 0px #d31a29; 
    // -webkit-box-shadow:7px 7px 0px #d31a29; 
    // box-shadow:7px 7px 0px #d31a29;
    border-radius: 10px;
    background-color: black
    color white
    border lightgrey solid 2px
    // padding 0px 20px 10px
    width: 30.5%
.links img
    text-align: center
    width: 70px;
    float: left;
    border-radius:40px;
    margin 15px;
    border solid lightgrey 2px

.links .link-title
    border-bottom: solid 1px rgb(50,50,50)
    padding-bottom: 20px
    font-size: 30px
.links .group-description
    margin 30px 1%
.links .site-name
    margin: 20px 10px 10px 110px
    font-weight: bold
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
.links .site-description
    margin-left 110px
    margin-right: 7%
    padding 10px;
    padding-left: 0
    border-top: dashed rgb(100,100,100) 1px
    font-weight: bold
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
.clearfix::after
    content: "";
    display: block;
    clear: both;
.clearfix::before
    content: "";
    display: block;
    clear: both;
