@import "variable/variable.styl"

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.main-post-content
    // float: left
    height: auto;
    margin-top: 110px
    padding: 2px 400px 0 150px
    overflow hidden
.article
    background-color $post-background-color
    position relative
    width: 100%;
    float: left;
    // padding: 0 40px 0 10px;
    // margin-left 14%
    // margin-right 1%
    // width 57%
    // @media(max-width 1600px)
    //     width 61%
    //     margin-left 10%
    // @media(max-width 1300px)
    //     margin 110px auto 0
    //     width 96%

#shareButtons 
    width: 80px;
    height: 500px;
    // background-color pink;   
    float: left;
    position: relative;
    left: -80px;
    margin-left: -100%;
    // position: fixed;
    // left: 7%;
    top: 8rem;
#shareButtonsInner
    margin-left: 10px;
.side-bar
    background-color: $post-side-bar-background-color
    border-top solid $post-side-bar-border-top-color 2px
    float left
    width 300px
    height auto
    position: relative;
    right: -510px;
    margin-left: -480px; // 重要

@media(max-width 1200px)
    #shareButtons  
        display none
    .side-bar
        display none
    .main-post-content
        padding: 0px 10px 
#post
    -webkit-box-shadow 1px 0 5px rgba(0,0,0,.4)
    box-shadow 1px 0 5px rgba(0,0,0,.4)
    // padding-right: 40px
    // padding-top: 5px
    // line-height: 1.6
    // float left
    // height auto
.post-content
    padding-top: 20px
    padding-bottom 40px
    padding-right: 40px
    padding-left: 40px
.post-information
    // background-color $post-background-color
    // margin-top 110px
    // position relative
    // margin-left 14%
    // margin-right 1%
    // width 57%

.titles
    padding-left 20px
    border-left solid 0.3125rem $post-title-border-left-color
    padding-bottom: 0.3125rem
    &:hover
        border-color: $post-title-hover-border-left-color

.title
    padding-top: 0.9375rem
    border-bottom: 0px
    margin-bottom: 0.8rem 
    font-weight: 900
    margin-block-start: 0em !important

.date
    float: right
    margin-right: 20px
    position relative
    margin-top: -30px
.category
.post-tag
    &:hover
        color $post-tag-hover-text-color
.words
    margin-left: 0.5rem
    // padding-right: 0.5rem
    text-decoration: none
    font-size: 0.9375rem
    &:link
        color black
.post-title-icons
    margin-left 0.5rem

.post-content h1
    padding-bottom .3em
    font-size 2.25em
    line-height 1.2
    border-bottom 1px solid #eee
.post-content h2
    padding-bottom .3em
    font-size 1.75em
    line-height 1.225
    border-bottom 1px solid #eee

.post-content h3
    font-size 1.5em
    line-height 1.43

.post-content h4
    font-size 1.25em

.post-content h5
    font-size 1em

.post-content h6
   font-size 1em
    color #777

.post-content p,
.post-content blockquote,
// ul,
// ol,
// dl,
.post-content table
    margin 1rem 0
li>ol,
li>ul
    margin 0 0

.post-content hr
    height 2px
    padding 0
    margin 16px 0
    background-color #e7e7e7
    border 0 none
    overflow hidden
    box-sizing content-box


// li p.first
//     display inline-block

.post-content ul,
.post-content ol
    // padding-left 30px
    line-height: 35px
.post-content ol
    counter-reset: li
    list-style none
    // list-style: decimal
    display: block;
    // list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 1px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

.post-content ol li::before
    height 20px
    width 20px
    content: counter(li)
    counter-increment: li
    font-size: 0.875em
    text-align: center
    color white
    white-space: nowrap
    position: absolute; 
    left: 3.8em; 
    line-height: 1.4em;
    // top: 2px; 
    // border solid #d31a29 1px
    margin-top: 0.5em;
    background: #d31a29
    border-radius: 40px;
    // padding-right 5px
    // padding-left: 5px
.post-content ol ol li:before
    margin-left 30px

.post-content ul
//     counter-reset: li
    list-style: none
    // list-style circle
.post-content ul li:nth-of-type(n)::before
    content ""
    color white
    font-weight: 20px
    position: absolute; 
    left: 3.5em; 
    line-height: 2em;
    // top: 2px; 
    margin-top: 0.7em;
    background: white
    border-radius: 30px;
    // padding-right 5px
    // padding-left: 5px
    border solid 3.5px #d31a29
    height 7px
    width 7px
.post-content ul li:before,
.post-content ol li:before
    // margin-left 30px
// ul:first-child,
// ol:first-child
//     margin-top 0

// ul:last-child,
// ol:last-child
//     margin-bottom 0

.post-content blockquote
    // border-left 4px solid #dfe2e5
    // padding 0 15px
    // color #777777
    display: block; 
    font-size: 0.9em; 
    overflow: auto; 
    overflow-scrolling: touch; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 20px; 
    padding-right: 10px; 
    margin-bottom: 20px; 
    margin-top: 20px; 
    font-style: normal; 
    border-left: none; 
    padding: 10px; 
    position: relative; 
    line-height: 1.8; 
    border-radius: 0px 0px 10px 10px; 
    color: #FEEEED; 
    background: #000; 
    box-shadow: #84A1A8 0px 10px 15px;
.post-content blockquote p
    display inline;
.post-content blockquote::before
    // content: "👣"
    color: #FFF
    line-height: 1em;
    font-weight: 700;
    font-size: 30px
.post-content blockquote::after
    // content: "”"
    float: right; 
    display: inline; 
    color: #FFF; 
    font-size: 3em; 
    line-height: 1em; 
    font-weight: 500;
.post-content blockquote
    padding-right 0

.post-content table
    padding 0
    word-break normal
    border-collapse:collapse;

.post-content table tr
    // border-top 1px solid #dfe2e5
    margin 0
    padding 0
    // border grey solid 1px
.post-content table td,
.post-content table th
    border lightgrey 1px solid
    
.post-content table tr:nth-child(2n)
    background-color #f8f8f8
.post-content thead
    background-color: black
    color white
.post-content table tr th
    font-weight bold
    // border 1px solid #dfe2e5
    // border-bottom 0
    // margin 0
    padding 6px 13px

.post-content table tr td
    // border 1px solid #dfe2e5
    // margin 0
    padding 6px 13px

.post-content table tr th:first-child,
.post-content table tr td:first-child
    margin-top 0

.post-content table tr th:last-child,
.post-content table tr td:last-child
    margin-bottom 0

// .post-content code
//     background-color: black
//     color white
p
    line-height: 25px
.post-content img
    max-width 100%
.post-content p
    font-size: 16px;
p code
    background-color: rgb(40, 40, 40);
    color white
    border-radius: 7px
    padding 0px 5px
    font: 18px consolas !important

.fixedFunction
    position: fixed
    right: 30px
    bottom: 23px
    z-index: 99999
@-webkit-keyframes fadeInUp 
    0%
        opacity:0;
        -webkit-transform:translateY(15px)
    100%
        opacity:1;
        -webkit-transform:translateY(0)
@-moz-keyframes fadeInUp 
    0%
        opacity:0;
        -moz-transform:translateY(15px)
    100% 
        opacity:1;
        -moz-transform:translateY(0)
.plus
    background-color: darkred
    margin 0 !important
    cursor pointer
    overflow hidden
.fixedFunction
    &:hover 
        color red
        #subFunction
            display block
            // -webkit-animation fadeInUp .3s .1s ease both;
            // -moz-animation fadeInUp .3s .1s ease both

            
.goTop
    background-color: darkblue
.goComment
    background-color: green
.goBottom
    background-color: orange
.functionButton
    font-size 2em
    // border-radius: 2em
    color white
    text-align: center
    line-height: 48px
    padding 0

#subFunction
    display: none
    list-style-type: none
    padding 0
    text-align: center
    line-height: 48px
    font-size: 1.8em
    margin-block-start: 15px
    margin-block-end: 15px
    -webkit-animation fadeInUp .5s .1s ease both;
    -moz-animation fadeInUp .5s .1s ease both
    
#subFunction a
    color white
.samefunction
    width: 48px
    height 48px
    border-radius: 50px
    -moz-box-shadow:1px 1px 5px #333333; 
    -webkit-box-shadow:1px 1px 5px #333333; 
    box-shadow:1px 1px 5px #333333;
    color white
    margin 15px 0

.date-warning
    padding: 15px;
    margin: 20px 0;
    background-color: #eef7fa;
    border-left: 3px solid;
    border-left-color: #428bca;
    border-radius: 3px;
    // position: relative;
.date-warning:before
    content: "\f05a";
    color: #428bca;
    font-family: 'FontAwesome';
    font-size: larger;
    margin-right: 10px;
    
    // top: 13px;
    // left: 15px;
/*滑块*/        
::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}


/*滑道*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #333;
    border-radius: 10px;
}