@import "variable/variable.styl"
#category
    width: 50%
    padding-left: 25%
    padding-top: 100px
    color $tag-category-text-color
#tag-block
    width 50%
.category-list li
    display: inline-block
    
.category-list a
    display: inline-block
    margin: 0 1rem 1.5rem 0rem
    border: 1px solid $tag-category-list-border-color
    padding: 4px
    padding-right: 6px
    padding-left: 6px
    border-radius: 15px
    font-size: 1.2rem
    color $tag-category-list-text-color
    text-decoration: none
    border-radius: 15px
    &:hover
        background-color: $tag-category-list-hover-bg-color
        color $tag-category-list-hover-text-color

.tag-list li
    display: inline-block

.tag-list a
    display: inline-block
    margin: 0 1rem 1.5rem 0rem
    border: 1px solid $tag-category-list-border-color
    padding: 4px
    padding-right: 6px
    padding-left: 6px
    border-radius: 15px
    font-size: 1.2rem
    color $tag-category-list-text-color
    text-decoration: none
    border-radius: 15px
    &:hover
        background-color: $tag-category-list-hover-bg-color = $color4
        color $tag-category-list-hover-text-color

#tag-block
    padding-top 100px
    padding-left: 25%
    padding-top: 100px
    color $tag-tag-text-color

.article_title a
    line-height: 20px