// Import variables from main variable file
@import "../../themes/variable.styl"

@import 'style/' + $codeStyle + '.styl'
@import "highlights/" + $codeColorSet + ".styl"

.code-block-header
    user-select: none
    
.code-block-fullscreen {
    position:fixed;
    top:38px;
    left:0;
    width:100%;
    --heightA:100%
    --heightB:calc(var(--heightA) - 30px);
    height:var(--heightB)
    min-width:100%;
    z-index:98;
    margin:0;
    animation:elastic 1s
    overflow: scroll
    transition: height 1s ease; 
}


.code-block-fullscreen-html-scroll
    overflow:hidden 
