 .code-block-header
    color: #cccccc
    .code-lang,
    .code-info
        background-color: $codeHeadBg;
        box-shadow: inset 2px 3px 1px 0px $innerShadowColor
        border: 1px solid $borderColor;
        padding: 5px 14px 6px;
        border-radius: 8px 8px 0 0;
        border-bottom: none;
        color: $codeHeadTxColor
        letter-spacing: 0px
    a
        border-bottom 0px !important
        margin-left 0px !important
    i 
        padding: 6px 10px
        margin: 0 3px

.highlight
    box-shadow: inset 1px 0px 1px 1px $innerShadowColor, 0 0 15px rgba(0,0,0, $codeShadow);
    border: 1px solid $borderColor;
    background: $codeBg
    border-radius: 0 8px 8px 8px
    table
        border: none
        // margin 10px 0 !important
        td
            border: none !important
        td:last-child
            width: 100%
    td.gutter 
        -webkit-touch-callout:none;
        -webkit-user-select:none;
        -khtml-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        // font-family:'Source Code Pro',monospace,Helvetica,Tahoma,Arial,STXihei,"STHeiti Light","Microsoft YaHei",sans-serif;
        vertical-align:top;
        // position:absolute;
        left:0;
        width:30px
        pre
            text-align:right
            color:#888f96 !important;
    pre 
        font-family: "consolas" !important;
        text-align: left
        color: $codeTxColor
        .line
            display inline-block
            width: 100%
            &:hover
                background-color:rgba(200,200,200,.1)
        .marked
            background-color:rgba(200,200,200,.1)

.code-head-fullscreen
    position:fixed;
    top: 10px;
    left:0;
    height: 34px
    z-index 99
    margin: 0
    width: 100%
    background-color: white
    .code-lang,
    .code-info
        margin-top: 10px
        padding: 10px 5px