@font-face {
    font-family: "fontawesome";
    src: url("/font-awesome/webfonts/fa-solid-900.eot");
    src: url("/font-awesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), 
         url("/font-awesome/webfonts/fa-solid-900.woff") format("woff"), 
         url("/font-awesome/webfonts/fa-solid-900.ttf") format("truetype"), 
         url("/font-awesome/webfonts/fa-solid-900.svg#micon") format("svg")
}
$isCustomize = hexo-config("themeColor.on") || false
if $isCustomize
    $defaultMainColor = convert(hexo-config("themeColor.mainColorSeries")) || 'black'
    $defaultMinorColor = convert(hexo-config("themeColor.minorColorSeries")) || '#d31b29'
    // if $defaultMainColor == 'black'

$bg = #202020
$minorColor = $defaultMinorColor

$headerBg = #202020
$headerSubBg = #333333
$headerCt = #ffffff // content
$headerHv = $minorColor //#ff0000 hover
$headerPostBg = #ffffff
$headerPostSubBg = #ffffff
$headerPostCt = #808080 // content


$homeTm = #737373
$homeMainTx = #ffffff
$homeCt = #bfbfbf
$homeRowMaxItem = hexo-config("homeRowMaxItem") || 6

$postBg = #ffffff
$sInfoTp = #808080
$sInfoBg = #d3d3d3
$sInfoTx = #666666


// Scroll bar variables
$scroll-bar-color = convert(hexo-config("ScrollBar.color")) || $minorColor
if $scroll-bar-color == "default"
    $scroll-bar-color = convert("#999")
else if $scroll-bar-color == "theme"
    $scroll-bar-color = $minorColor

$scroll-bar-shape = hexo-config("ScrollBar.shape") || "round"
$scroll-bar-radius = $scroll-bar-shape == "square" ? 0 : 10

// Code style variables
$codeStyle = hexo-config("postStyle.codeStyle.style") || "mac"
$codeColorSet = hexo-config("postStyle.codeStyle.colorSet") || "sakura"
$isLightStyle = hexo-config("postStyle.codeStyle.light") || false

$codeHeadBg = #23272c
$codeBg = #1d1f21
$codeHeadTxColor = #ffffff
$codeShadow = 0.4
$codeTxColor = #fff
$borderColor = #0b0c0a
$innerShadowColor = #3c3d39
$numberColor = #888f96
if $isLightStyle == true && $codeStyle == "mac"
    $codeHeadBg = #f7f7f7
    $codeBg = #ffffff
    $codeHeadTxColor = gray
    $codeShadow = 0.2
    $codeTxColor = black
    $numberColor = lightgray
else if $codeStyle == "tab"
    if $isLightStyle == false
        $codeHeadBg = #1E1F1A
        $codeBg = #1E1F1A
        $codeHeadTxColor = #fff
        $codeTxColor = #fff
        $borderColor = #0b0c0a
        // $innerShadowColor = #3c3d39
        // $codeShadow = 0.4
    else 
        $codeHeadBg = #fff
        $codeBg = #fff
        $codeHeadTxColor = gray
        $codeTxColor = black
        $borderColor = #eeeeee
        $innerShadowColor = #fbfbfb
        $codeShadow = 0.1