#message-alert 
    .message.info-message
        .alert-icon 
            i.fa-solid.fa-circle-info 
        .text
            != "此路是我开，此树是我开，要想从此过，拿出买路钱！"
        .close-icon 
            i.fa-sharp.fa-solid.fa-xmark
    .message.success-message
        .alert-icon 
            i.fa-sharp.fa-solid.fa-circle-check
        .text
            != "您已交钱，放您通行！但是，这个钱只够进通行，但是你要想从这个路过去，必须乘坐我们专用的交通工具。使用我们的交通工具需要付款哦~"
    .message.error-message
        .alert-icon 
            i.fa-sharp.fa-solid.fa-circle-xmark
        .text
            != "您的余额不够，请速速去借钱！"
        .close-icon 
            i.fa-sharp.fa-solid.fa-xmark
    .message.warning-message
        .alert-icon 
            i.fa-solid.fa-triangle-exclamation
        .text
            != "借贷有风险，不还钱小心被打！"