
- var pageTitle = page.title || config.subtitle || ''
- var pageType = "home"
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- if (is_post()) pageType = "post"
- pageTitle += ' [ ' + config.title + ' ]'

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    title= pageTitle
    include ./head.pug
  body(class = pageType)
    include svg.pug
    include header.pug
    //- include alert.pug
    #content-outer
      #content-inner
        if body
          div!= body
        else
          block content
    include footer.pug
    script(src="/js/third-party/tools.js")
    if (theme.carousel.on && is_home())
      script(src="/js/carousel.js")
    if theme.localSearch.on 
      script(src="/js/third-party/local-search.js")
    if theme.scripts !== undefined && theme.scripts.length > 0
      //- scripts list from config.yml
      each url in theme.scripts
        script(src=url)
    - if (is_post())
      script(src="/js/post.js")
    <script src="https://use.typekit.net/bkt6ydm.js"></script>