if !(is_home())
    #sideButtons
        if theme.SideButtons.Top.on 
            div#back-to-top!= __("sideButtons.backToTop")
        if theme.SideButtons.Comment.on && theme.valine.on
            div#go-to-comment!= __("sideButtons.toComment")