meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes')
if (is_post()) 
    .this-is-post-page
if page.category == "ACM" || page.category == "Novel" || page.category == "Essay"
#menu-outer
    //- site name
    .site-name
        a= config.author
    div.search
        if theme.search.on
            input#local-search-input(tpye="text" placeholder="Type to search")
            span.search-icon
                i.fa.fa-search
    if (is_post()) 
        .this-is-post-page
    .menu
        //- the button of hidden menu for phone
        ul.menu-icon
            li
            li
            li
        ul#nav
            img.menu-avatar(src="https://s1.ax1x.com/2020/04/17/JEjcB8.png")
            div.menu-items
                each label, index in theme.menu
                    li.item-name
                        a.name-a(href=url_for(label.path))!='<i class="fas fa-' + label.ico + '"></i> ' + index
                        if label.submenu
                            ul.submenu-items
                                each sublabel, subindex in label.submenu
                                    li.subitem-name
                                        a(href=url_for(sublabel.path))!= '<i class="fas fa-' + sublabel.ico + '"></i> ' + subindex