#bookshell
    margin-top: 90px;

.shell-f
    width: 70%;
    background: url("/img/bookshell.png") center bottom no-repeat
    height: 50vh
    margin: 0 auto;
    background-size: 100%;

