$color1 = red
$color2 = rgb(25, 25, 25)
$color3 = black
$color4 = white
$color5 = rgb(40,40,40)
$color6 = #737373
$color7 = lightgray
$color8 = #bfbfbf
$color9 = rgb(20, 20, 20)
$color10 = #dddddd
$color11 = #808080
$color12 = rgb(50, 50, 50)
$color13 = grey
$color14 = #666
$color15 = #d31a29
$color16 = rgb(250, 54, 54)
$font1 = Lato
$font2 = Heveltica
$recent-post-box-height = 680px
$recent-post-itemMinWidth = 18.75rem
$maxItemsPerRow = 6
$itemMargin = 0.9375rem
$rowMargin = 0.625rem