@import "Theme-red-style.styl"


/****
    * header.styl
    * The top bar that contains icons and user name
*****/

$header-background = $color2 // background of the top bar

$header-height = 75px // height of top bar

$header-user-font = $font1 // username font

$header-user-hover-background-color = $color4 // background color of username when mouse is over

$header-user-text-color = $color4 // color of text color

$header-user-hover-text-color = $color3 // text color of user name when mouse is over

$header-menu-item-text-color = $color4 // text color of menu item

$header-menu-item-hover-text-color = $color1 // text color of menu item when mouse is over

$header-menu-subitem-text-color = $color4 // text color of menu subitem

$header-menu-subitem-hover-text-color = $color1 // text color of

$header-submenu-background-color = $color5 // the background color of submenu 

$header-menu-button-text-color = $color4 // menu button color

$header-search-button-text-color = $color4 // search button color

$header-menu-text-font = $font2

/****
    * recent-posts.styl
    * Home page of blog
*****/

$recent-post-title-date-text-color = $color6 // color of time of moto

$recent-post-title-text-color = $color4 // color of moto on the big image

$recent-post-title-from-color = $color4 // color of from of a moto

$recent-post-title-chevron-down-color = $color4 // color of down arraw

$recent-post-boxes-height = $recent-post-box-height // height of each article box

$recent-post-boxes-text-color = $color8

$recent-post-boxed-text-font = $font1

$recent-post-item-Min-Width = $recent-post-itemMinWidth

$recent-post-max-item-per-row = $maxItemsPerRow

$recent-post-item-margin = $itemMargin

$recent-post-row-margin = $rowMargin

$recent-post-article-category-text-color = $color4

$recent-post-article-content-tag-background-color = $color9

$recent-post-article-time-text-color = $color6

$recent-post-article-tag-text-color = $color4

$recent-post-article-tag-text-font = $font2

$recent-post-article-hover-tag-text-color = $color9

$recent-post-article-hover-tag-text-background-color = $color4

$recent-post-article-title-text-color = $color4

$recent-post-article-content-text-color = $color8

$recent-post-article-content-text-font = $font1


/****
    * footer.post.styl
    * footer of post page
*****/

$footer-post-background-color = $color4

$footer-post-background-color-border-top = $color10

$footer-post-icon-color = $color11

$footer-post-hover-icon-color = $color1

$footer-post-author-text-color = $color11

$footer-post-author-text-font = $font1

$footer-post-theme-author-text-color = $color8

$footer-post-visits-text-color = $color11

$footer-post-visits-text-font = $font2

/****
    * footer.post.styl
    * footer of home page
*****/

$footer-background-color-border-top = $color12

$footer-icon-color = $color11

$footer-hover-icon-color = $color1

$footer-author-text-color = $color8

$footer-author-text-font = $font1

$footer-theme-author-text-color = $color11

$footer-visits-text-color = $color11

$footer-post-visits-text-font = $font2



/****
    * layout-post.styl
    * layout of post page
*****/

$layout-post-background-color = $color4

$layout-post-font = $font2



/****
    * layout-post.styl
    * layout of post page
*****/

$layout-font = $font2



/****
    * pagination-post.styl
    * pagination of post page
*****/

$pagination-post-back-ground-color = $color4

$pagination-post-extend-text-color = $color3

$pagination-post-hover-extend-text-color = $color1



/****
    * pagination-post.styl
    * pagination of post page
*****/

$pagination-extend-text-color = $color4

$pagination-hover-extend-text-color = $color1

$pagination-hover-page-number-color = $color1

$pagination-page-number-color = $color4

$pagination-page-number-font = $font1

$patination-space-text-color = $color4



/****
    * side-user.styl
    * user information and friends on post page
*****/

$side-user-top-bar-border-bottom = $color7

$side-user-top-bar-text-color = $color11

$side-user-avatar-background-color = $color7

$side-user-author-text-color = $color13

$side-user-author-description-text-color = $color14

$side-user-button-color = $color15

$side-user-untouched-button-color = $color4



/****
    * toc.styl
    * style of toc on post page
*****/

$toc-background = $color4

$toc-catelog-border-left-color = $color15

$toc-first-child-border-left-color = $color7

$toc-current-level-before-border = $color15

$toc-current-level-before-background = $color4

$toc-text-color = $color3



/****
    * archive-timetree-comment-shape.styl
    * style of archive
*****/




/****
    * archive-timetree.styl
    * style of archive
*****/



/****
    * categories.styl
    * style of categories
*****/

$category-article-title-text-color = $color4

$category-article-tag-bg-bd-color = $color15

$category-article-tag-before-border = $color4

$category-article-tag-before-bg = $color3

$category-item-border-bottom-color = $color12



/****
    * post.styl
    * style of post page
*****/

$post-background-color = $color4

$post-title-border-left-color = $color3

$post-title-hover-border-left-color = $color11

$post-tag-hover-text-color = $color1

$post-side-bar-border-top-color = $color16

$post-side-bar-background-color = $color4


/****
    * tags.styl
    * style of tag page
*****/

$tag-category-text-color = $color4

$tag-category-list-border-color = $color7

$tag-category-list-text-color = $color4

$tag-category-list-hover-text-color = $color3

$tag-category-list-hover-bg-color = $color4

$tag-tag-text-color = $color4